<template>
  <v-container>
    <v-layout
      text-center
    >
      <v-row>
        <v-col cols="12">
          <v-row>
            <v-col>
              <v-card
                class="pa-3"
              >
                <h2
                  class="headline font-weight-bold mb-3"
                >
                  {{ msg }}
                </h2>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="4"
            >
              <v-card
                height="100%"
                class="pa-3"
              >
                <v-row>
                  <v-col
                    cols="12"
                  >
                    <v-text-field
                      type="number"
                      v-model.number="dimensionX"
                      label="Dimension X"
                    ></v-text-field>
                    <v-text-field
                      type="number"
                      v-model.number="dimensionY"
                      label="Dimension Y"
                    ></v-text-field>
                    <v-text-field
                      @keyup.enter="onSubmit"
                      v-model="newWord"
                      label="Ingrese palabra"
                    ></v-text-field>
                    <v-card-actions
                      class="ma-0 pa-0 justify-center"
                    >
                      <v-btn
                        class="ma-0 pa-0"
                        text
                      >set</v-btn>
                    </v-card-actions>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
            <v-col
              cols="8"
            >
              <v-card
                height="100%"
                class="pa-3"
              >
                <h3
                  class="sub-headline ma-2"
                  align="left"
                >
                  Words list
                </h3>
                <v-list>
                  <v-list-item-group
                    multiple
                  >
                    <div
                      v-for="(word, i) in words"
                      v-bind:key="i"
                    >
                      <v-divider
                        v-if="i == 0"
                      ></v-divider>
                      <v-list-item
                        :key="`word-${i}`"
                        :value="word"
                        active-class="deep-purple--text text--accent-4"
                      >
                        <template v-slot:default="{ active, toggle }">
                          <v-list-item-content>
                            <v-list-item-title v-text="word"></v-list-item-title>
                          </v-list-item-content>

                          <v-list-item-action>
                            <v-checkbox
                              :input-value="active"
                              :true-value="word"
                              color="deep-purple accent-4"
                              @click="toggle"
                            ></v-checkbox>
                          </v-list-item-action>
                        </template>
                      </v-list-item>
                      <v-divider
                        :key="`divider-${i}`"
                      ></v-divider>
                    </div>
                  </v-list-item-group>
                </v-list>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col
              cols="12"
            >
              <v-card
                height="100%"
                class="py-4"
              >
                <v-card-actions
                  v-for="y in dimensionY"
                  v-bind:key="`y-${y}`"
                  class="ma-0 pa-0 justify-center"
                  align="left"
                >
                  <v-btn
                    v-for="x in dimensionX"
                    v-bind:key="`${y}-${x}`"
                    class="ma-0 pa-0"
                    min-width="50px"
                    text
                  >{{printChar(y-1, x-1)}}</v-btn>
                </v-card-actions>
              </v-card>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'SopaLetras',
  data: () => ({
    dimensionX: 10,
    dimensionY: 10,
    newWord: '',
    words: [],
    board: [],
    blacklistPositions: [],
  }),
  methods: {
    onChange() {
      this.setWords();
    },
    onSubmit() {
      if (this.newWord != '') {
        this.words.push(this.newWord);
        this.newWord = '';
      }
    },
    randomCharacter(){
      let text = "";
      let chars = "abcdefghijklmnopqrstuvwxyz";

      text = chars.charAt(Math.floor(Math.random() * chars.length));
      return text;
    },
    setWords(){

      for (let y = 0; y <= this.dimensionY - 1; y++) {
        if (this.board[y] != '') {
          this.board.push([this.randomCharacter()]);
        }

        for (let x = 0; x <= this.dimensionX - 1; x++) {
          if (this.board[y][x] != '') {
            this.board[y][x] = this.randomCharacter();
          }
        }
      }
    },
    printChar(y, x){
      return this.board[y][x];
    }
  },
  created: function () {
    this.board = new Array();

    for (let y = 0; y <= this.dimensionY - 1; y++) {
      this.board.push([this.randomCharacter()]);

      for (let x = 0; x <= this.dimensionX - 1; x++) {
        this.board[y][x] = this.randomCharacter();
      }
    }
  },
  watch: {
    dimensionX: function () {
      this.setWords();
    },
    dimensionY: function () {
      this.setWords();
    }
  },
  props: {
    msg: String
  }
}
</script>

<style scoped>
</style>
