<template>
  <v-app>
    <v-content>
      <SopaLetras :msg='msg'/>
    </v-content>
  </v-app>
</template>

<script>
import SopaLetras from './components/SopaLetras';

export default {
  name: 'App',

  components: {
    SopaLetras,
  },

  data: () => ({
    msg: 'Bienvenido a la sopa de letras'
  }),
};
</script>
